.background {
  background-color: #007bff;
  transition: background-color 0.7s ease-in;
}

body {
  background-color: #007bff !important;
}

.plaintext {
  text-align: center;
  color: white;
  max-width: 700px;
  margin: 0 auto !important; 
	float: none !important; 
}

.footer {
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 12px;
}

a {
  color: #333333 !important;
}

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 92vh;
  flex-direction: column;
}

.horizontal-centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
h1 {
  color: white;
  font-size: 4em !important;
}

h2 {
  color: white;
}

h3 {
  color: white;
  text-align: center;
}

.text-container {
  color: white;
  text-align: center;
  margin: auto;
  font-family: "Press Start 2P";
}

.blue-button {
  background-color: white;
  color: blue;
}

.w-300 {
  width: 300px;
}

.sprite {
  width: 250px;
  height: 250px;
  background-size: 100%;
}